<h1 class="accountantapp-name">Курси валют та конвертор</h1>
<div class="accountantapp" *ngIf="currjson.length > 0; else loading">
  <header class="header">
    <div class="header-names">
      <h2 class="header-names-value">Валюта</h2>
      <h2 class="header-names-buys">Купівля</h2>
      <h2 class="header-names-sells">Продаж</h2>
    </div>

    <div class="header-usdmoney">
      <h2 class="header-usdmoney-value">USD</h2>
      <h2 class="header-usdmoney-uah">UAH</h2>
      <h2 class="header-usdmoney-buys">{{usdbuys}}</h2>
      <h2 class="header-usdmoney-sells">{{usdsells}}</h2>
    </div>

    <div class="line"></div>

    <div class="header-eurmoney">
      <h2 class="header-eurmoney-value">EUR</h2>
      <h2 class="header-eurmoney-uah">UAH</h2>
      <h2 class="header-eurmoney-buys">{{eurbuys}}</h2>
      <h2 class="header-eurmoney-sells">{{eursells}}</h2>
    </div>
  </header>

  <div class="line"></div>

  <h2 class="converter-name">Конвертер валют</h2>
  <div class="converter">
    <div class="converter-first">
      <select [(ngModel)]="selectedValues.c1" name="country1" id="country1" class="converter-first-selection" (change)="convertSecondToFirst()">
        <option [ngValue]="usdbuys">Доллар США</option>
        <option [ngValue]="eurbuys">Євро</option>
        <option [ngValue]="'1'">Українська гривня</option>
      </select>
      <input [(ngModel)]="inputValues.c1" (input)="convertFirstToSecond()" type="number" class="converter-first-input" >
    </div>

    <button class="converter-division" (click)="switchAndRecountInputs()">
    </button>

    <div class="converter-second">
      <div class="converter-second-combination">
        <select [(ngModel)]="selectedValues.c2" name="country2" id="country2" class="converter-second-selection" (change)="convertFirstToSecond()">
          <option [ngValue]="usdsells">Доллар США</option>
          <option [ngValue]="eursells">Євро</option>
          <option [ngValue]="'1'">Українська гривня</option>
        </select>
        <div class="converter-second-combination-value">{{selectedValues.c2}}</div>
      </div>
      <input [(ngModel)]="inputValues.c2" (input)="convertSecondToFirst()" type="number" class="converter-second-input" >
    </div>
  </div>
</div>



<ng-template #loading>
  <div class="loader-container">
    <div class="loader"></div>
    <ng-container *ngIf="showLoadingMessage">
      <p class="loader-message">Sorry, too many requests from one user, please try again in one minuete</p>
    </ng-container>
  </div>
</ng-template>
