@import '../assets/mixins/mixin.scss';

@font-face {
  font-family: 'PragmaticaC-Bold';
  src: url('../assets/fonts/pragmaticac-bold.otf') format('woff2'),
    url('../assets/fonts//pragmaticac.otf') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PragmaticaC';
  src: url('../assets/fonts/pragmaticac.otf') format('woff2'),
    url('../assets/fonts/pragmaticac.otf') format('woff');
  font-weight: bold;
  font-style: normal;
}

.accountantapp {
  box-sizing: border-box;
  font-family: 'PragmaticaC-Bold', sans-serif;
  margin-left: 100px;
  width: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  @include for-phone {
    width: 90%;
    margin: 0;
    padding-left: 25px;
  }

  &-name {
    font-family: 'PragmaticaC-Bold', sans-serif;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 60px;

    @include for-phone {
      font-size: 40px;
      margin: 20px;
    }
  }
}




