<div class="rates">
  <div class="rates-names">
    <h2 class="rates-names-value">Валюта</h2>
    <h2 class="rates-names-buys">Купівля</h2>
    <h2 class="rates-names-sells">Продаж</h2>
  </div>

  <div class="rates-eurmoney">
    <h2 class="rates-eurmoney-value">EUR</h2>
    <h2 class="rates-eurmoney-uah">UAH</h2>
    <h2 class="rates-eurmoney-buys">{{currencies['eur'].buys}}</h2>
    <h2 class="rates-eurmoney-sells">{{currencies['eur'].sells}}</h2>
  </div>

  <div class="line"></div>

  <div class="rates-usdmoney">
    <h2 class="rates-usdmoney-value">USD</h2>
    <h2 class="rates-usdmoney-uah">UAH</h2>
    <h2 class="rates-usdmoney-buys">{{currencies['usd'].buys}}</h2>
    <h2 class="rates-usdmoney-sells">{{currencies['usd'].sells}}</h2>
  </div>

  <div class="line"></div>

  <div class="rates-usdmoney">
    <h2 class="rates-usdmoney-value">PLN</h2>
    <h2 class="rates-usdmoney-uah">UAH</h2>
    <h2 class="rates-usdmoney-buys">{{currencies['pln'].buys}}</h2>
    <h2 class="rates-usdmoney-sells">{{currencies['pln'].sells}}</h2>
  </div>

  <div class="line"></div>
</div>

